* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.fundo2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("3d23d1989fa279e4d2ac059530041b95e688456a.jpg") no-repeat
    center center fixed;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
  overflow: hidden;
}

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 30px;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.fotos img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border: none;
  border-radius: 0;
  transition: transform 0.1s ease;
}

.fotos img:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .fotos img {
        height: auto;
    width: 100%;
  }

  body {
    padding: 10px;
  }
}
